<div>
  <!--<p>Profile card!</p>-->
  <section ng-controller="ProfileCardController">

       <span ng-if="authentication.user.profileImageURL">
        <img ng-src='https://res.cloudinary.com/gametrunk/image/upload/w_100,h_100,c_fill/{{authentication.user.profileImageURL}}' alt='{{authentication.user.displayName}}'/>
      </span>

      <span ng-if="!authentication.user.profileImageURL">
        <img ng-src="/modules/core/client/img/brand/favicon.png" alt="{{authentication.user.displayName}}" class="header-profile-image-default" />
      </span>

      <span style="padding-left: 5px"><h4 ng-bind="authentication.user.displayName" ></h4></span>
    <span><h4>Rank: {{displayRank}} in the {{circuit}}</h4></span>

</section>
</div>s
