<div ng-controller="ChallengeController">
  <div class="jumbotron text-center">
  <h2>Create a Challenge</h2>
  <form novalidate class="simple-form">
        <label>Opponent</label>
        <select ng-model="opponent.model" class="selectpicker" ng-click="run()">
          <option ng-repeat="user in users" value="{{user.id}}">{{ user.firstName }} {{ user.lastName | limitTo : 1}}.</option>
        </select>
    <td class="form-group" show-errors>
      <label></label>
      <div ui-sref-active="active">
      <input ui-sref="challenge-result" class="btn btn-primary" type="submit" class="form-control" ng-click="createChallenge()" value="Create Challenge" />
    </div>
    </td>
  </form>
    </div>
</div>
