<div ng-controller="ChallengeController">
  <div class="jumbotron text-center">
    <h2>Create a Challenge</h2>
    <br>
    <h4>Your Circuit: <span ng-bind="circuit"></span></h4>
    <h5>{{message}}</h5>

    <form novalidate class="simple-form" ng-show="users.length > 0">
      <ul>

        <li ng-repeat="user in users | orderBy:'rank'" ng-style="myStyle" class="list-group-item row" ng-class="{selected: user.id==model.opponentId, deselected: user.id!=model.opponentId}" ng-click="model.opponentId=user.id">
          <span class="col-md-4 col-4"><h2 ng-bind="user.displayRank"></h2></span>
      <span class="col-md-4 col-4">
          <h2 ng-bind="user.displayName"></h2>
      </span>
       <span ng-if="user.profileImageURL && user.id!=model.opponentId" class="col-sm-4 col-4">
         <img class = "img-circle" ng-src='https://res.cloudinary.com/gametrunk/image/upload/w_75,h_75,c_fill/{{user.profileImageURL}}' alt='{{user.displayName}}'/>
      </span>
      <span ng-if="!user.profileImageURL && user.id!=model.opponentId" class="col-md-4 col-4">
        <img class = "img-circle" ng-src="/modules/core/client/img/brand/favicon.png" alt="{{user.displayName}}" width="100px"/>
      </span>
          <h1 ng-if="user.id==model.opponentId" class="col-md-4 col-4 pull-right glyphicon glyphicon-ok" style="color:palegreen"></h1>
        </li>

      </ul>

      <div class="row">
        <div>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close" ng-change="dateChange()" />

                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
        </div>
      </div>
      <br>

      <div align="center" uib-timepicker ng-model="dt" hour-step="1" minute-step="15" name="sTime"   show-meridian="true" min="min" max="max"></div>

      <p class="alert alert-info">Schedule for: {{dt | date:'EEEE, MMMM d' }} at {{dt | date:'hh:mm a' }}</p>

      <td class="form-group" show-errors>
        <label></label>
        <input class="btn btn-primary" type="submit" class="form-control" ng-click="createChallenge()" value="Create Challenge" />
      </td>
    </form>


  </div>
</div>
