<div>
  <div class="jumbotron text-center">
    <h2>Edit Time</h2>
      <div class="row text-center">
        <div>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close" ng-change="dateChange()" />

                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
        </div>
        <div uib-timepicker ng-model="dt" hour-step="1" minute-step="15" name="sTime"   show-meridian="true" min="min" max="max"></div>
      </div>
      <p class="alert alert-info">Schedule for: {{dt | date:'EEEE, MMMM d' }} at {{dt | date:'hh:mm a' }}</p>
        <input class="btn btn-primary" type="submit" class="form-control" ng-click="Submit()" value="Submit" />
      <input class="btn btn-primary" type="submit" class="form-control" ng-click="dismiss()" value="Cancel" />
      </td>
  </div>
</div>
