<div>
  <div class="jumbotron text-center">
    <h2>Edit Challenge</h2>

      <label>Edit Time</label>
      <div class="row">
        <div>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close" ng-change="dateChange()" />

                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
        </div>
      </div>
      <br>

      <div align="center col-md-6" uib-timepicker ng-model="dt" hour-step="1" minute-step="15" name="sTime"   show-meridian="true" min="min" max="max"></div>

      <p class="alert alert-info">Schedule for: {{dt | date:'EEEE, MMMM d' }} at {{dt | date:'hh:mm a' }}</p>
        <label>Outcome of Challenge</label>

      <div>
        <div class="list-group-item row" ng-class="{selected: challengerUser.id==model.Id, deselected: challengerUser.id!=model.Id}" ng-click="model.Id=challengerUser.id">
          <span ng-if="challengerUser.profileImageURL" class="">
            <img ng-src='https://res.cloudinary.com/gametrunk/image/upload/w_25,h_25,c_fill/{{challengerUser.profileImageURL}}' alt='{{challengerUser.displayName}}'/>
          </span>
          <span ng-if="!challengerUser.profileImageURL" class="">
            <img ng-src="/modules/core/client/img/brand/favicon.png" alt="{{challengerUser.displayName}}" width="25px"/>
          </span>
          <span class="">
            <h4 ng-bind="challengerUser.displayName"></h4>
          </span>
          <h4 ng-if="challengerUser.id==model.Id" class="col-md-4 col-4 pull-right glyphicon glyphicon-ok" style="color:palegreen"></h4>
        </div>
        <div class="list-group-item row" ng-class="{selected: challengeeUser.id==model.Id, deselected: challengeeUser.id!=model.Id}" ng-click="model.Id=challengeeUser.id">
          <span ng-if="challengeeUser.profileImageURL" class="">
             <img ng-src='https://res.cloudinary.com/gametrunk/image/upload/w_25,h_25,c_fill/{{challengeeUser.profileImageURL}}' alt='{{challengeeUser.displayName}}'/>
          </span>
          <span ng-if="!challengeeUser.profileImageURL" class="">
            <img ng-src="/modules/core/client/img/brand/favicon.png" alt="{{challengeeUser.displayName}}" width="25px"/>
          </span>
          <span class="">
          <h4 ng-bind="challengeeUser.displayName"></h4>
          </span>
          <h4 ng-if="challengeeUser.id==model.Id" class="col-md-4 col-4 glyphicon glyphicon-ok" style="color:palegreen"></h4>
        </div>
        </div>

        <input class="btn btn-primary" type="submit" class="form-control" ng-click="Submit()" value="Submit" />
      <input class="btn btn-primary" type="submit" class="form-control" ng-click="dismiss()" value="Cancel" />
      </td>
  </div>
</div>
