<div class="footer">
  <div class="container">
    <div align="center" class="footer-text">
    <div class="row">
      <div class="col-md-6 github row">
        <a type="button" href="https://github.com/gametrunk-team/gametrunk" class="btn btn-default" target="_blank">
          View on Github <img ng-src="/modules/core/client/img/brand/github.png" height="30">
        </a>
      </div>
      <div class="col-md-4 facebook">
        <a class="btn btn-default" href="https://facebook.com/42six" target="_blank">
          Find us on  <img ng-src="/modules/core/client/img/brand/facebook.png" height="30px">
        </a>
      </div>
    </div>
  </div>
</div>
</div>
