<div class="footer">
  <div class="container">
    <div align="center" class="footer-text">
    <div class="row">
      <div class="col-md-4 github">
        <a href="https://github.com/gametrunk-team/gametrunk" target="_blank">
          <img ng-src="/modules/core/client/img/brand/github.png" width="45">
        </a>
      </div>
      <div class="col-md-4 facebook">
        <a href="https://facebook.com" target="_blank">
          <img ng-src="/modules/core/client/img/brand/facebook.png" width="45">
        </a>
      </div>
    </div>
  </div>
</div>
</div>
