<section ng-controller="HomeController">
  <body>

  <style>
    .row {margin-right: 0px;  margin-left: 0px;}
  </style>

  <div ng-show="displayRoom">
    <uib-tabset active="active">
        <uib-tab heading="View Rankings" style="color: rgba(255, 255, 255, 0.5)" select="desetUserView()">
          <rankings-display></rankings-display>
        </uib-tab>
        <uib-tab heading="Add Results" select="desetUserView()">
          <add-results></add-results>
        </uib-tab>
      <!--<uib-tab heading="User View" select="setUserView()"></uib-tab>-->
        <!--&lt;!&ndash;Deckster Deck does not display correctly when placed in a tab&ndash;&gt;-->
      <!--</uib-tabset>-->
  </div>

  <div ng-hide="authentication.user || displayRoom" class="jumbotron text-center">
    <div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
          <img ng-src="modules/core/client/img/brand/logo.png" alt="Trunky the Elephant" class="img-responsive text-center" />
        </div>
      </div>
      <br>
      <div class="row">
        <p class="lead">gametrunk</p><br>
        <p class="lead">Cool Ping Pong League Management App</p>
      </div>
    </div>
  </div>

  <deckster-deck ng-show="userView" deck="mainDeck" initialized="initialized" ng-if="initialized"></deckster-deck>
  </body>
</section>
