.deckster-deck {
  background: transparent;
}

.seanjs {
  color: #682929;
}
.seanjs-capital {
  font-weight: bold;
  color: #9B3532;
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.header-profile-image-default {
  height: 28px;
  width: 28px;
  margin-right: 5px;
}
.open .header-profile-image, a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/* navbar */

.navbar-seanjs {
  background-color: #2B313D;
  border-color: #E7E7E7;
}

/* title */

.navbar-seanjs .navbar-brand {
  color: #f1f1f1;
}
.navbar-seanjs .navbar-brand:hover, .navbar-seanjs .navbar-brand:focus {
  color: #fff;
}

/* link */

.navbar-seanjs .navbar-nav > li > a {
  color: #f1f1f1;
}
.navbar-seanjs .navbar-nav > li > a:hover, .navbar-seanjs .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-seanjs .navbar-nav > .active > a, .navbar-seanjs .navbar-nav > .active > a:hover, .navbar-seanjs .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #E7E7E7;
}
.navbar-seanjs .navbar-nav > .open > a, .navbar-seanjs .navbar-nav > .open > a:hover, .navbar-seanjs .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
}

/* caret */

.navbar-seanjs .navbar-nav > .dropdown > a .caret {
  border-top-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}
.navbar-seanjs .navbar-nav > .dropdown > a:hover .caret, .navbar-seanjs .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar-seanjs .navbar-nav > .open > a .caret, .navbar-seanjs .navbar-nav > .open > a:hover .caret, .navbar-seanjs .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}

/* mobile version */

.navbar-seanjs .navbar-toggle {
  border-color: #DDD;
}
.navbar-seanjs .navbar-toggle:hover, .navbar-seanjs .navbar-toggle:focus {
  background-color: #DDD;
}
.navbar-seanjs .navbar-toggle .icon-bar {
  background-color: #CCC;
}
@media (max-width: 767px) {
  .navbar-seanjs .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-seanjs .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-seanjs .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}
.navbar-nav > li > a {
  text-shadow: none;
}

body {
  padding-bottom: 60px;
}


@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.jumbotron {
  margin: 60px;
}


.selected {
  background: lightgrey;
}

.selected:hover {
  background-color: #ddd;
}

.deselected {
  background: #fff;
}

.deselected:hover {
  background-color: #eee;
}

//.glyphicon{
//  text-shadow: 0 0 5px #707c80;
//}

.footer-text {
  //margin-left: auto;
  //margin-right: auto;
  width: 50px;
  padding-top: 20px;
  //padding-left: 45px;
}

.facebook {
  position: absolute;
  //padding-left: 275px;
  left: 0;
}

.github {
  position: absolute;
  //padding-right: 10px;
  right: 0;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#container {
  min-height:100%;
  position:relative;
}
#header {
  background: #000000;
  padding:10px;
}
#body {
  padding:10px;
  padding-bottom:80px;   /* Height of the footer */
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:80px;   /* Height of the footer */
  background: #2B313D;
}

.news {
  font-family: "Times New Roman", Georgia, Serif;
}

.vcenter {
  vertical-align: middle;
}

.btn-space {
  margin-bottom: 3px;
}

.centerBlock {
  display: table;
  margin: 0 auto;
}


.challengemodal {
  .modaltitle {
    margin-top: 0px;
  }
  .yrcirc {
    margin: 0px 0 20px 0;
  }
  .list-group-item {
    margin:0 25px 8px 0;
    }
  }

.datepick {
  width: 40%;
  margin:34px 65px 0 40px;
  float: left;
}

.timepick {
  width:32%;
  float: left;
}

.createchal, .cancel {
  margin:10px 0 0 0;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.hometron {
  background: rgba(30, 30, 30, 0.65);
}

.hometitle {
  color: #d3d3d3 !important;
}

.hometagline {
  color: #d3d3d3 !important;
}

.halfsize {
  width: 40%;
  margin:auto;
}

.widthheaderimage {
  width: 40px;
}
